table {
  table-layout: fixed;
  width: 100%;
}

th, td {
  text-align: center;
  vertical-align: middle;
}

th.col-btn, td.col-btn {
  width: 130px !important;
  min-width: 120px !important;
  max-width: 160px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
}

.col-btn {
  width: 110px;
  min-width: 110px;
  max-width: 160px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}
.col-btn .btn-toggle {
  background-color: #ff0;
  color: #000;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 12px;
  cursor: pointer;
  margin-right: 6px;
}
.col-btn .btn-edit {
  background-color: #ccc;
  color: #000;
  border-radius: 4px;
  text-decoration: none;
  padding: 4px 8px;
  font-size: 12px;
  display: inline-block;
}

.row-inactive {
  background: #ddd !important;
  color: #aaa;
  opacity: 0.7;
}

.row-is-current {
  background: #d4ffd4 !important;
}

.row-is-expired {
  background: #ffd4d4 !important;
}

.row-is-future {
  background: #d4e4ff !important;
}