@import '../../components/variables';
@import '../../components/mixins';

.top-page {
  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__col {
    width: 50%;

    @apply p-3;
  }

  &__h3 {
    &::before {
      content: '<';

      @apply mr-1;
    }

    &::after {
      content: '>';

      @apply ml-1;
    }
  }

  &__menu {
    @apply mb-6;

    &-box {
      background-color: $white;
      border: 1px solid $gray-600;

      @apply rounded-sm my-2 py-4 px-4 text-sm;

      @screen sm {
        @apply px-8;
      }
    }

    li {
      @apply my-3;

      &.pt-4 {
        @apply pt-4;
      }
    }

    a {
      position: relative;
      display: inline-block;
      background-color: $base-yellow;
      border: 1px solid transparent;
      min-width: 250px;
      text-align: center;

      @apply text-xl py-2 px-4 rounded-sm outline-none;

      &:hover,
      &:focus {
        background-color: transparent;
        border-color: $base-yellow;
      }
    }
  }
}
