@charset "utf-8";

#shop-image {
  margin-right: calc(40% - 40vw);
  margin-left: calc(40% - 40vw);

  #button-area {
    display: flex;

    #back-button {
      text-decoration: underline;
    }

    #ref-button {
      border:1px solid #000000;
      margin-left: auto;
      background-color: #ffffff;
    }
  }

  #input-area {
    display: flex;
    border:1px solid #000000;
    background-color: #ffffff;
    margin-top: 10px;

    #image-area {
      margin-top: 20px;
      margin-left: 30px;
      margin-right: 20px;
      margin-bottom: 20px;

      img {
        border: 1px solid #333;
        width: 450px;
        height: 500px;
      }

      .image-input-erea {
        border: 1px solid #333;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 450px;
        height: 100px;

        .b {
          background-color: yellow;
          width: 450px;
          height: 100px;

          .img{
          width: 10px;
          height: 10px;
          }
        }
      }
    }

    #item-info {
      display: flex;
      /*コレ*/flex-direction: column;
      height: 100%;
      margin-left: 30px;
      margin-right: 20px;
      margin-top: 20px;
      margin-bottom: 10px;

      #item-name {
        border:1px solid #ffffffff;
        border-radius: 5px;
        width: 450px;
        height: 70px;
        font-size: 40px;
        color: #c9d7e8f8;
      }

      #item-name:hover {
        border:1px solid #c9d7e8f8;
        border-radius: 5px;
      }

      #item-name:focus {
        border:1px solid #c9d7e8f8;
        border-radius: 5px;
      }

      hr {
        border: none;
        border-bottom: 1px solid #333;
        margin-top: 20px;
      }

      label {
        margin-top: 20px;
      }

      #price-col {
        margin-top: 20px;
        display: flex;

        #input-price {
          border:1px solid #ffffffff;
          border-radius: 5px;
          color: #c9d7e8f8;
        }

        #input-price:hover {
          border:1px solid #c9d7e8f8;
          border-radius: 5px;
        }

        #input-price:focus {
          border:1px solid #c9d7e8f8;
          border-radius: 5px;
        }

        .label-basic {
          font-size: 20px;
        }
      }

      .point-label {
        display:inline-block;
        padding: 5px;
        font-size: 20px;
        text-align: left;
        background-color: #E4E8ED;
      }

      #item-detail-erea {
        display: flex;
        flex-direction:column;

        #item-detail {
          font-size: 40px;
          border:1px solid #ffffffff;
          border-radius: 5px;
          color: #c9d7e8f8;
          margin-top: 20px;
          width: 450px;
          height: 300px;
        }

        #item-detail:hover {
          font-size: 40px;
          border:1px solid #c9d7e8f8;
          border-radius: 5px;
        }

        #item-detail:focus {
          font-size: 40px;
          border:1px solid #c9d7e8f8;
          border-radius: 5px;
        }

        .label-basic {
          font-size: 20px;
          text-align: left;
        }
      }
    }

    #vari-info {
      display: flex;
      flex-direction: column;
      margin-left: 30px;
      margin-top: 20px;

      .vari-item {
        margin-bottom: 25px;

        .vari-name-row {
          .input-text {
            color: #c9d7e8f8;
            border:1px solid #c9d7e8f8;
            height: 30px;
            width: 350px;
          }

          .plus-button {
            color: #c9d7e8f8;
            height: 30px;
            width: 30px;
            margin-left: 5px;
            border:1px solid #c9d7e8f8;
            border-radius: 100px;
          }
        }

        .vari-kind-list {
          display: flex;
          margin-top: 10px;

          .vari-kind {
            border:1px solid #c9d7e8f8;
            display: flex;
            margin-right: 10px;
            margin-left: 10px;

            .vari-row-input {
              color: #c9d7e8f8;
              border: #FFFFFFFF;
            }

            .dele-button {
              color: #c9d7e8f8;
              border-left:1px solid #c9d7e8f8;
              padding: 2px 5px 2px 5px;
            }
          }
        }
      }
    }
  }
}
