@charset "utf-8";

#shop-image {
  margin: 0 auto;

  #button-area {
    display: flex;

    #back-button {
      text-decoration: underline;
    }

    #ref-button {
      border:1px solid #000000;
      margin-left: auto;
      background-color: #ffffff;
    }
  }

  #input-area {
    display: flex;
    border:1px solid #000000;
    background-color: #ffffff;
    margin-top: 10px;

    #image-area {
      margin-top: 20px;
      margin-left: 30px;
      margin-right: 20px;
      margin-bottom: 20px;

      .image-size {
        border: 1px solid #333;
        width: 550px;
        height: 550px;
      }

      .image-input-erea {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 450px;
        height: 100px;

        .b {
          background-color: yellow;
          width: 450px;
          height: 100px;

          .img{
          width: 10px;
          height: 10px;
          }
        }

        .a {
          margin-top: 10px;
          height: 40px;
          width: 448px;
          position: absolute;
          background-color:transparent;
          color: transparent;
        }

        .a:hover {
          margin-top: 10px;
          height: 40px;
          width: 448px;
          visibility:visible;
          opacity: 0.5;
          color: #000000;
          background-color: #C9C9C9;
        }

        .b {
          margin-top: 10px;
          height: 40px;
          width: 448px;
          position: absolute;
          background-color:transparent;
          color: transparent;
        }

        .scllowDiv {
          overflow-y: hidden;
          overflow-x: scroll;
          display: flex;
          position: absolute;
          height: 115px;
          width: 450px;
          border: 1px solid #333;
        }
      }
    }

    #dust-box-icon {
      width: 60px;
      height: 70px;
      margin-top: 551px;
    }

    #dust-box-icon:hover {
      color: #C9C9C9;
    }

    #item-info {
      display: flex;
      /*コレ*/flex-direction: column;
      height: 100%;
      margin-left: 40px;
      margin-right: 20px;
      margin-top: 20px;
      margin-bottom: 10px;

      #item-name {
        border:1px solid #ffffffff;
        border-radius: 5px;
        width: 550px;
        font-size: 24px;
        color: #3d3d2b;
        margin-top: 31px;
        margin-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
      }

      #item-name:hover {
        border:1px solid #c9d7e8f8;
        border-radius: 5px;
      }

      #item-name:focus {
        border:1px solid #c9d7e8f8;
        border-radius: 5px;
      }

      hr {
        border: none;
        border-bottom: 1px solid #333;
      }

      label {
        margin-top: 20px;
      }

      #price-col {
        margin-top: 30px;
        display: flex;
        vertical-align: center;   //縦方向に中央寄せ
        text-align:center;        //横方向に中央寄せ

        label {
          margin-top: 5px;
        }

        #input-price {
          border:1px solid #ffffffff;
          border-radius: 5px;
          color: #3d3d2b;
          font-size: 20px;
          padding-left: 10px;
          padding-right: 10px;
        }

        #input-price:hover {
          border:1px solid #c9d7e8f8;
          border-radius: 5px;
        }

        #input-price:focus {
          border:1px solid #c9d7e8f8;
          border-radius: 5px;
        }

        .label-basic {
          font-size: 20px;
        }
      }

      .point-label {
        display:inline-block;
        padding: 5px;
        font-size: 20px;
        text-align: left;
        background-color: #E4E8ED;
        margin-bottom: 5px;
        padding-left: 10px;
      }

      .document_url{
        font-size: 15px;
        margin-top: '0';
        color: #0360B3;
        border-bottom: 2px solid #0360B3;
      }

      .document_url:hover {
        color: #0489FF;
        border-bottom: 2px solid #0489FF;
      }

      #item-detail-erea {
        display: flex;
        flex-direction:column;

        #item-detail {
          word-wrap: break-word; /* 長い単語を折り返す */
          white-space: normal;  /* テキストを通常の折り返しにする */
          font-size: 20px;
          border:1px solid #ffffffff;
          border-radius: 5px;
          color: #3d3d2b;
          margin-top: 20px;
          width: 550px;
          height: 300px;
          padding-left: 10px;
          padding-right: 10px;
        }

        #item-detail:hover {
          border:1px solid #c9d7e8f8;
          border-radius: 5px;
        }

        #item-detail:focus {
          border:1px solid #c9d7e8f8;
          border-radius: 5px;
        }

        .label-basic {
          font-size: 20px;
          text-align: left;
        }
      }
    }

    #vari-area {
      padding: 5px;
      border-radius: 5px;
      margin-top: 20px;
      color: #a0aec0;
      border: 1px solid #a0aec0;
      font-size: 18px;
      width: 240px;
      text-align: center;
    }

    #vari-info {
      display: flex;
      flex-direction: column;
      margin-left: 30px;
      margin-top: 20px;

      .vari-item {
        margin-bottom: 25px;

        .vari-name-row {
          .input-text {
            color: #c9d7e8f8;
            border:1px solid #c9d7e8f8;
            height: 25px;
            width: 350px;
          }

          .plus-button {
            color: #c9d7e8f8;
            height: 30px;
            width: 30px;
            margin-left: 5px;
            border:1px solid #c9d7e8f8;
            border-radius: 100px;
          }
        }

        .vari-kind-list {
          display: flex;
          margin-top: 10px;

          .vari-kind {
            border:1px solid #c9d7e8f8;
            display: flex;
            margin-right: 10px;
            margin-left: 10px;

            .vari-row-input {
              color: #c9d7e8f8;
              border: #FFFFFFFF;
              width: 50px;
            }

            .dele-button {
              color: #c9d7e8f8;
              border-left:1px solid #c9d7e8f8;
              padding: 2px 5px 2px 5px;
            }
          }
        }
      }
    }
  }
}
